<section>
    <h2>Quiénes Somos</h2>
    <div class="quienes-somos">
      <p>
        Somos una empresa apasionada por los coches. Nuestro catálogo incluye una
        cuidadosa selección de los mejores modelos disponibles en el mercado. Cada
        coche es elegido pensando en la calidad, el rendimiento y el estilo.
      </p>
      <div class="imagen-empresa">
        <img
          src="assets/images/portada.jpg"
          alt="Logo de la empresa"
          width="300"
        />
      </div>
      
    </div>
    
    <button onclick="location.href='/catalogo'">Ver Catálogo</button>
  </section>